# Figures, documents, media, and archives
**/figure-html/
*.html
*.png
*.svg
*.pdf
*.doc
*.docx
*.pptx
*.mp3
*.mp4
*.zip

# Data and large files
*.rda
*.gz
*.fastq
**/class-vids/
**/data/TCGA-*
**/data/reads_*

# OS and editor files
Thumbs.db
.DS_Store
*.lnk

# IDE and R project
*.Rproj
*.Rproj.user/
*.Rhistory
*.RData
**/output/
**/.idea/

# Hebrew-named files/folders
**/_HE_*

# Sandbox folders
**/Sandbox/
.Rproj.user
HUJI/Active_HUJI/
HUJI/Admin_HUJI/
HUJI/Archive_HUJI/calculus/
HUJI/Archive_HUJI/linear-algebra/
HUJI/Archive_HUJI/prob-01/
